.label {
    -fx-border-color: red;
}

.one, .two, .three, .four, .five, .six, .leikmadur0, .leikmadur1, .slanga, .stigi {
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.leikmadur0 {
    -fx-background-image: url("myndir/leikmadur0.png");

}

.leikmadur1 {
    -fx-background-image: url("myndir/leikmadur1.png");

}

.one {
    -fx-background-image: url("myndir/one.png");

}

.two {
    -fx-background-image: url("myndir/two.png");

}

.three {
    -fx-background-image: url("myndir/three.png");

}

.four {
    -fx-background-image: url("myndir/four.png");

}


.five {
    -fx-background-image: url("myndir/five.png");

}

.six {
    -fx-background-image: url("myndir/six.png");

}

.slanga {
    -fx-background-image: url("myndir/slanga.png");

}

.stigi {
    -fx-background-image: url("myndir/stigi.png");

}

.red {
    -fx-background-color: red;
}

.blue {
    -fx-background-color: lightblue;
}

.yellow {
    -fx-background-color: yellow;
}