
.vbox {
-fx-background: lightblue;
}

.position {
-fx-background-size:contain;
-fx-background-position: center;
-fx-background-repeat: no-repeat;
}

.AS, .SA  {
-fx-background-image:
   url("myndir/AS.jpg");
}

.NA, .AN {
-fx-background-image:
   url("myndir/NA.jpg");
}

.NS, .SN {
-fx-background-image:
   url("myndir/NS.png");
}

.VA, .AV {
-fx-background-image:
   url("myndir/VA.png");
}

.VN, .NV {
-fx-background-image:
   url("myndir/VN.jpg");
}

.VS, .SV {
-fx-background-image:
   url("myndir/VS.jpg");
}

.kAS, .kSA  {
-fx-image:
   url("myndir/AS.jpg");
}

.kNA, .kAN {
-fx-image:
   url("myndir/NA.jpg");
}

.kNS, .kSN {
-fx-image:
   url("myndir/NS.png");
}

.kVA, .kAV {
-fx-image:
   url("myndir/VA.png");
}

.kVN, .kNV {
-fx-image:
   url("myndir/VN.jpg");
}
.kVS, .kSV {
-fx-image:
   url("myndir/VS.jpg");
}

.fyrsti {
-fx-border-color:"red";
-fx-border-width: 10px;
}

.flaedir {
-fx-border-color:"green";
-fx-border-width: 10px;
}